<?xml version="1.0" encoding="UTF-8"?>

<!--简单的输出到控制台-->
<!--
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        &lt;!&ndash; encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>-->

<!--输出到指定文件-->
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>G:\01_IDEA_WORKSPACE\GitCheckout\SORT_WAYS\app.log</file> <!--文件目录-->
        <encoder>
            <pattern>%date %level [%thread] %logger{50} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>